*{
    font-family: sans-serif;
  }
  
  h1,
  h3
  {
    text-align: center;
  }
  
  .message {
    text-decoration: underline;
  }
  
  .report-card {
    background-color: blanchedalmond;
    padding: 2.5%;
  }